html {
  background-color: #02010a;
  font-family: 'Dancing Script';
}

.contenidoHeader {
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#contenidoBody1 {
  display: block;
}

a {
  color: white;
}

a:active {
  text-decoration: none;
}

h1 {
  font-family: "Dancing Script";
  color: white;
  text-shadow: 2px 2px #02010a;
}

@media (max-width:899px) {
  .contenidoHeader {
    width: 100%;
    text-align: center;
  }

  .contenidoBody1 {
    max-width: 900px;
    width: 100%;
    background-color: #82c3a6;
  }

  #fotografia {
    max-width: 96%;
    margin: 2%;
  }

  h1 {
    font-size: 1.6em;
  }

  a {
    font-size: 1.0em;
  }
}

@media (min-width:900px) {
  .contenidoHeader {
    margin: 0 auto;
    max-width: 900px;
  }
}
