html {
  background-color: #02010a;
  font-family: 'Dancing Script';
}

footer {
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.contenidoHeader {
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contenidoFooter {
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  text-align: left;
}

.redes {
  height: 10%;
  width: 10%;
}

#paisaje1-1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#paisaje1-2, #paisaje1-4, #paisaje1-6 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#paisaje1-3 {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

img {
  box-shadow: 2px 2px #02010a;
}

a {
  color: white;
}

a:visited, a:active {
  text-decoration:none;
}

h1 {
  font-family: "Dancing Script";
  color: white;
  text-shadow: 2px 2px #02010a;
}

@-webkit-keyframes animacion {
  0% {
    margin-top: 150%
  }
  60% {
    margin-top: -5%
  }
  100% {
    margin-top: 0%
  }
}

@media (max-width:899px) {
  .contenidoHeader {
    width: 100%;
    text-align: center;
  }

  .contenidoBody1 {
    width: 100%;
    background-color: #82c3a6;
    display: flex;
    flex-direction: column;
  }

  .contenidoBody2 {
    width: 100%;
    background-color: #d5c75f;
    display: flex;
    flex-direction: column;
  }

  .contenidoBody3 {
    width: 100%;
    background-color: #d5c75f;
    display: flex;
    flex-direction: column;
  }

  .paisaje1 {
    max-width: 96%;
    margin: 10%
  }

  .contenidoFooter {
    max-width: 95%;
    display: flex;
    flex-direction: column;
  }

  #fotografia {
    max-width: 96%;
    margin: 10%;
  }

  #paisaje {
    max-width: 96%;
    margin: 10%;
  }

  #paisaje:hover {
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
  }


  #retrato {
    max-width: 96%;
    margin: 10%;
  }

  #retrato:hover {
    transform: translate(20px, -5px);
    box-shadow: 2px 2px #82c3a6;
  }

  header {
    animation: animacion 2s;
  }

  h1 {
    font-size: 1.6em;
  }

  a {
    font-size: 1.0em;
  }

  a:active {
    text-decoration: none;
    color: white;
  }

}

@media (min-width:900px) {
  .contenidoHeader {
    margin: 0 auto;
    max-width: 900px;
  }

  .contenidoBody1 {
    max-width: 900px;
    margin: 0 auto;
    background-color: #82c3a6;
    display: flex;
    flex-direction: column;
  }

  .contenidoBody2 {
    max-width: 900px;
    max-height: 400px;
    margin: 0 auto;
    background-color: #d5c75f;
    display: flex;
    flex-direction: row;
  }

  .contenidoBody3 {
    max-width: 900px;
    max-height: 600px;
    margin: 0 auto;
    background-color: #d5c75f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .paisaje1 {
    max-width: 200px;
    max-height: 200px;
    margin: 5%;
  }

  .contenidoFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .columnaFooter {
    padding: 4%
  }

  #fotografia {
    max-width: 96%;
    margin: 10%;
  }

  #paisaje {
    max-width: 40%;
    margin: 5%;
  }

  #paisaje:hover {
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
  }

  #retrato {
    max-width: 40%;
    margin: 5%;
  }

  #retrato:hover {
    transform: translate(20px, -5px);
    box-shadow: 2px 2px #82c3a6;
  }

  header {
    animation: animacion 2s;
  }

  a {
    position: relative;
    top: -50px;
    left: 700px;
  }

  a:active {
    text-decoration: none;
    color: white;
  }

  p {
    font-size: 50%;
  }
}
